@import './base.css';

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  font-weight: normal;
}
