@import './base.css';

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  background-color: var(--color-link-hover);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  font-weight: normal;
}
